ejercicio6.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="valores">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cantidad"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cantidad"
                 type="valorcantidad"/>
    <xs:simpleType name="valorcantidad">
        <xs:restriction base="xs:integer" >
            <xs:minInclusive value="-30"/>
            <xs:maxInclusive value="30"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>